@import "../../../../assets/scss/base";

.pc-alibaba-searchBar-layout {
  text-align: center;
  .search-layout {
    width: 80%;
    max-width: 480px;
    min-width: 320px;
    height: $s50;
    border-radius: rem(5px);
    display: inline-block;
    img {
      margin-top: rem(3px);
      height: rem(24px);
      width: rem(24px);
    }
    input {
      line-height: $s50;
      padding: $s10;
      background: transparent;
    }
    a {
      line-height: $s30;
    }
  }
  .search-keyword-layout {
    span,
    .search-keyword-list,
    .search-keyword-list .search-keyword-item {
      display: inline-block;
    }
    .search-keyword-list {
      .search-keyword-item {
      }
    }
  }
}
