@import "../../../../assets/scss/base";

.ui-dialog-alert-layout {
  .dialog-area {
    margin: 0;
    max-width: 640px;
    border-radius: rem(3px);
    .title-area {
      span {
        font-size: rem(28px);
      }
    }
    .content-area {
      span {
        font-size: rem(24px);
      }
    }
    .operation-area {
      text-align: right;
      span {
        display: inline-block;
      }
    }
  }
}
